body{

		background-color: #1abc9c;
		font-family: sans-serif;

	}
button{

	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3;
}

button:hover{
	background-color: #2ecc71;	
	}
		
.main-content{

	width: 200px;
}

footer p{
	font-family: sans-serif;
	font-size: 14px;
	color: #ecf0f1;
}


		